
.main{

    height: 465px;
    /* perspective: 10000px; */
}
.main ul{
    float: left;
    width: 209px;
    background-color: #c81623;

}
.main ul a{
    display: block;
    line-height: 31px;
    height: 31px;
    font-size: 14px;
    color: #fff;
    padding-left: 12px;

}
.main ul a:hover{
    background: #fff;
    color: #c81623;
}
.main ul a::after{
    float: right;
    content: '\e920';
    font-family: 'icomoon';
    font-size: 14px;
    margin-right: 9px;

}
.main .img{
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    margin: 10px 10px 0 10px;
    transform-style: preserve-3d;
    overflow: hidden;

}


.main .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
@keyframes time1{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-721px);
    }
}
.main .img img:nth-child(1){
    animation: time1 2s linear 4s forwards,move2 2s linear 34s forwards;;
}
@keyframes move2{
    0%{
        transform: translateX(721px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes time2{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-721px);
    }
}
.main .img img:nth-child(2){
    transform: translateX(721px);
    animation: move2 2s linear 4s forwards,time1 2s linear 10s forwards;
}
.main .img img:nth-child(3){
    transform: translateX(1442px);
    animation: move2 2s linear 10s forwards,time1 2s linear 16s forwards;
}
.main .img img:nth-child(4){
    transform: translateX(2163px);
    animation: move2 2s linear 16s forwards,time1 2s linear 22s forwards;
}
.main .img img:nth-child(5){
    transform: translateX(2884px);
    animation: move2 2s linear 22s forwards,time1 2s linear 28s forwards;
}
.main .img img:nth-child(6){
    transform: translateX(3605px);
    animation: move2 2s linear 28s forwards,time1 2s linear 34s forwards;
}







.newsflash{
    width: 250px;
    height: 463px;
    margin-top: 10px;
    
}
.news_hd{
    height: 32px;
    padding: 0 15px;
    border: 1px solid #e8e8e7;
    border-bottom: 1px dotted #e8e8e7;
}
.newsflash .news_hd h5{
    height: 32px;
    font: 14px/32px '微软雅黑';
    color:#000;

}
.news_hd a{

    height: 32px;
    font: 12px/32px '微软雅黑';
    color:#333;
}
.news_hd a::after{
    content: '\e920';
    font-family: 'icomoon';
    font-size: 12px;
    line-height: 32px;
}
.news_bd{
    height: 130px;
    border: 1px solid #e8e8e7;;
    border-top: none;
    border-bottom: none;
}
.news_bd li{
    height: 24px;
    font: 12px/24px '微软雅黑';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news_bd li span{
    font-weight: 700;
    color: #000;
    font: 12px/24px '微软雅黑';
}
.lifeservice{
    height: 209px;
    border-right:1px solid #e8e8e7;

}
.lifeservice a{
    position: relative;
    float: left;
    text-align: center;
    width: 62px;
    height: 68.6px;
    border:1px solid #e8e8e7;
    margin-right: -1px;
    margin-bottom: -1px;
}
.lifeservice a:nth-child(4n){
    margin-right: 0px;
    border-right: none;
    width: 59px;
}
.lifeservice a:nth-child(9+n){
    margin-bottom: 0px;
    
}
.lifeservice a .icon1{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -16px -17px;
}
.lifeservice a .icon2{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -78px -16px;
}
.lifeservice a .icon3{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -141px -16px;
}
.lifeservice a .icon4{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -206px -16px;
}
.lifeservice a .icon5{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -17px -88px;
}
.lifeservice a .icon6{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -78px -88px;
}
.lifeservice a .icon7{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -141px -88px;
}
.lifeservice a .icon8{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -206px -88px;
}
.lifeservice a .icon9{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -17px -159px;
}
.lifeservice a .icon10{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -78px -159px;
}
.lifeservice a .icon11{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -141px -159px;
}
.lifeservice a .icon12{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    background: url("../images/icons.png")  no-repeat -206px -159px;
}
.lifeservice a span{
    display: block;
    font: 12px '微软雅黑';
}
.lifeservice a .flag{
    position: absolute;
    top:0;
    right: 0;;
    width: 14px;
    height: 14px;
    background: #589d5a;
    color: #fff;
}
.lifeservice a .sanjiao{
    position: absolute;
    top: 14px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 7px solid #589d5a;
    border-width: 5px 7px 5px 7px;
    border-bottom-color: white;
}
.newsflash img{
    width: 250px;
    height: 75px;
    margin-top: 5px;
    margin-left: 0;
}







.recommend{
    height: 163px;
    margin-top: 11px;

}
.recommend .recommend_hd{
    float: left;
    width: 206px;
    height: 163px;
    background: #5c5251;

}
.recommend_hd img{
    display: block;
    width: 57px;
    height: 57px;
    margin: 0 auto;
    margin-top: 53px;
}
.recommend_hd p{
    text-align: center;
    font: 18px '微软雅黑';
    color: #fff;
    margin-top: 12px;
}
.recommend li{
    float: left;
    width: 248px;
    height: 163px;
    background: #ebebeb;
}
.recommend li:hover{
    box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.4);
}
.recommend ul li:last-child{
    width: 248px;width: 250px;
    
}
.recommend ul li .left{
    float: left;
    width: 87px;
    height: 141px;
    margin-left: 19px;
    margin-top: 22px;

}
.recommend .left h5{
    width: 87px;
    height: 28px;
    color: #333;
    font: 16px/28px '微软雅黑';
    
}
.recommend ul li .left span{
    display: block;
    width: 87px;
    height: 18px;
    color: #fff;
    font: 14px/18px '微软雅黑';
}
.recommend ul li .left p{
    color: #717171;
    font: 12px '微软雅黑';
}
.recommend ul li .left i{
    display: block;
    text-align: center;
    width: 57px;
    height: 18px;
    color: #fff;
    font: 14px '微软雅黑';
    border-radius: 9px;
    margin-top: 21px;
}
.recommend ul li .left .color1{
    background: #00a0e8;
}
.recommend ul li .left .color2{
    background: #5fb200;
}
.recommend ul li .left .color3{
    background: #e2162f;
}
.recommend ul li .left .color4{
    background: #0085fb;
}
.recommend ul li .img{
    float: left;
    width: 141px;
    height: 143px;
    border-right: 1px solid #dddddd;
    margin-top: 10px;

}
.recommend ul li .img:last-child{
    border-right: none;
}



.likes{
    height: 292px;

}
.likes .likes_hd{
    height: 59px;
}
.likes .likes_hd h5{
    float: left;
    color: #333;
    font: 18px '微软雅黑';
    margin-top: 31px;
    
}
.likes_hd a{
    float: right;
    color: #666;
    font: 12px '宋体';
    margin-top: 35px;
    margin-right: 21px;
}
.likes_hd a::after{
    content: '\ea2e';
    font-family: 'icomoon';
    color: #666;
    font-size: 12px;
    margin-left: 9px;

}
.likes .likes_hd a:hover::after{
    color: red;
}
.likes .likes_bd{
    width: 1198px;
    height: 231px;
    border: 1px solid #ededed;
}
.likes .likes_bd li{
    float: left;
    width: 202px;
    height: 231px;
}
.likes .likes_bd li:hover{
    box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.4);
}
.likes .likes_bd li:last-child{
    width: 188px;
}
.likes .likes_bd li img{
    display: block;
    margin: auto;
}
.likes .likes_bd li span{
    display: block;
    width: 166px;
    height: 62px;
    border-right: 1px solid #ededed;
    margin-top: 10px;
    margin-left: 35px;
}
.likes .likes_bd li span:last-child{
    border-right: none;
}
.likes .likes_bd li span p{
    font-weight: 700;
    color: #666;
    font: 12px '宋体';
}
.likes .likes_bd li span i{
    color: #df3033;
    font: 18px '微软雅黑';
}



.interestall{
    height: 463px;
    overflow: hidden;
}
.interestall h2{
    width: 141px;
    height: 26px;
    color: #333;
    font: 18px '微软雅黑';
    margin-top: 30px;

}
.interestall_bd{
    height: 405px;
    border: 1px solid #ededed;
}
.interestall_bd .img{
    float: left;
    width: 404px;
    height: 405px;
    background-color: #b8bddd;
}
.interestall_bd .img span{
    display: block;
    width: 382px;
    height: 39px;
    color: #3b468d;
    font: 16px '微软雅黑';
    padding-top: 24px;
    padding-left: 22px;
}
.interestall_bd .img img{
    margin-left: 125px;
    margin-top: 47px;
}
.interestall_bd .Box1{
    float: left;
    width: 226px;
    height: 405px;
    border-right: 1px solid #ededed;
}
.interestall_bd .title{
    text-align: center;
    height: 39px;
    border-bottom: 1px dashed #ededed;
    color: #333;
    font:14px/39px '微软雅黑';
}
.interestall_bd .Box1 .box1{
    width: 218px;
    height: 198px;
    border-bottom: 1px solid #ededed;
    background: url(../images/图层\ 131.png) no-repeat 91px 28px;
    padding-left: 8px;
    overflow: hidden;
}
.interestall_bd  h2{
    /* width: 66px; */
    height: 17px;
    color: #333;
    font: 16px '微软雅黑';
    font-weight: 700;
    margin-top: 68px;
    margin-bottom: 15px;
    
}
.interestall_bd p{
    height: 12px;
    color: #333;
    font: 12px '微软雅黑';
    font-weight: 700;
    margin-bottom: 8px;
}
.interestall_bd span{
    display: block;
    height: 13px;
    color: #e82633;
    font: 12px '微软雅黑';
    font-weight: 700;
}
.interestall_bd .Box1 .box2{
    width: 218px;
    height: 166px;
    background: url(../images/图层\ 133.png) no-repeat 101px 20px;
    padding-left: 8px;
    overflow: hidden;
}
.interestall_bd .Box2{
    float: left;
    width: 405px;
    height: 405px;
    background-color: #f7f7f7;
    border-right: 1px solid #ededed;
}
.interestall_bd .Box2 .box1{
    width: 354px;
    height: 198px;
    border-bottom: 1px solid #ededed;
    background: url(../images/图层\ 132.png) no-repeat 200px 36px;
    padding-left: 51px;
    overflow: hidden;
}
.interestall_bd .Box2 .box2{
    width: 405px;
    height: 166px;
    
}
.interestall_bd .Box2 .box3,.box4{
    float: left;
    width: 181px;
    height: 166px;
    padding-left: 21px;
    overflow: hidden;
}
.interestall_bd .Box2 .box3{
    background: url(../images/图层\ 134.png) no-repeat 88px 34px;
    border-right: 1px solid #ededed;
}
.interestall_bd .Box2 .box4{
    background: url(../images/图层\ 135.png) no-repeat 82px 29px;
}
.interestall_bd .Box3{
    float: left;
    width: 161px;
    height: 405px;
}
.interestall_bd .Box3 img{
    width: 100%;
    height: 100%;
}


.jiadian{
    height: 418px;
    overflow: hidden;
}
.jiadian .jiadian_hd{
    color: #c81623;
    font: 18px '微软雅黑';
    height: 28px;
    border-bottom: 2px solid #c81623;
    margin-top: 28px;
}
.public_bd{
    width: 1198px;
    height: 360px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    
}
.public_bd .Box1{
    float: left;
    width: 209px;
    height: 360px;
    background: #f9f9f9;
}
.public_bd .Box1 .box1{
    height: 99px;
    padding-left: 13px;
    box-sizing: border-box;
}
.public_bd .Box1 .box1 li{
    float: left;
    text-align: center;
    width: 86px;
    height: 32px;
    color: #666666;
    font: 12px/33px '微软雅黑';
    border-bottom: 1px solid #666666;
    margin-right: 12px;
}
.public_bd .Box1 .box2{
    height: 261px;
    overflow: hidden;
}
.public_bd .Box1 .box2 p{
    text-align: center;
    height: 18px;
    color: #c81623;
    font: 18px/18px '微软雅黑';
    margin-top: 26px;
    margin-bottom: 4px;
}
.public_bd .Box1 .box2 span{
    display: block;
    text-align: center;
    height: 12px;
    color: #c81623;
    font: 12px/12px '微软雅黑';
}
.public_bd .Box2{
    position: relative;
    float: left;
    width: 329px;
    height: 360px;
    padding-left: 31px;
    box-sizing: border-box;
}
.public_bd .Box2 p{
    height: 18px;
    color: #1d7584;
    font: 18px/18px '微软雅黑';
    margin-top: 39px;
    margin-bottom: 7px;
}
.public_bd .Box2 span{
    display: block;
    height: 18px;
    color: #1d7584;
    font: 18px/18px '微软雅黑';
}
.public_bd .Box2 .box1{
    position: absolute;
    left: 142px;
    bottom: 16px;
    width: 52px;
    height: 10px;
}
.public_bd .Box2 .box1 li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 7px;
    background-color: #3e3e3e;
}
.public_bd .Box2 .box1 li:first-child{
    margin-left: 0px;
    background-color: #fff;

}
.public_bd .Box3{
    float: left;
    width: 219px;
    height: 360px;
    border-right: 1px solid #ededed;
}
.public_bd .Box3 .box1{
    height: 180px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
}
.public_bd i{
    display: block;
    font-weight: 700;
    width: 111px;
    height: 15px;
    color: #000;
    margin: 25px 0 8px 19px;
}
.public_bd em{
    display: block;
    font-weight: 700;
    width: 111px;
    height: 15px;
    color: #e60012;
    margin-left: 19px;
}
.public_bd .Box3 .box2{
    height: 178px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
}
.public_bd .Box4{
    float: left;
    width: 221px;
    height: 359px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
}
.public_bd h4{
    text-align: center;
    height: 18px;
    color: #000000;
    font: 18px '微软雅黑';
    margin-top: 72px;
    margin-bottom: 6px;

}
.public_bd h5{
    text-align: center;
    height: 16px;
    color: #999999;
    font: 16px '微软雅黑';

}
.public_bd .Box5{
    float: left;
    width: 219px;
    height: 360px;
}
.public_bd .Box5 .box1{
    height: 180px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
}
.public_bd .Box5 .box2{
    height: 178px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
}
.pinpai{
    height: 65px;
    margin-top: 20px;
}
.pinpai img{
    width: 100%;
    height: 100%;
}
.phone{
    height: 418px;
    overflow: hidden;
}
.phone_hd{
    height: 56px;
    border-bottom: 2px solid #c81623;
}
.phone_hd h2{
    float: left;
    color: #c81623;
    font: 18px '微软雅黑';
    margin-top: 29px;
}
.phone_hd ul{
    float: right;
}
.phone_hd li{
    float: left;
    color:#666666;
    font: 12px '宋体';
    margin-top: 35px;
}
.phone_hd li:nth-child(2n){
    width: 1px;
    height: 12px;
    background-color: #999999;
    margin-left: 16px;
    margin-right: 16px;
}
.fixed{
    position: fixed;
    top: 200px;
    left: 59px;
    width: 66px;
    height: 342px;
    box-sizing: border-box;
}
.fixed  li a{
    display: block;
    text-align: center;
    width: 56px;
    height: 30px;
    color: #666666;
    font: 12px/30px '宋体';
    border-bottom: 1px solid #ededed;
    margin: 0px 5px;
}
.fixed li a:hover{
    color: #fff;
    background-color: #c81623;
}


.hot{
    height: 343px;
}
.hot .hot_hd h2{
    color: #333333;
    font: 18px '微软雅黑';
    margin-top: 29px;
    margin-bottom: 13px;
}

.hot .hot_bd{
    width: 1198px;
    height: 281px;
    border: 1px solid #e5e5e5;
}
.hot .hot_bd .Box1{
    float: left;
    width: 239px;
    height: 281px;
    border-right: 1px solid #e5e5e5;
    overflow: hidden;
}
.hot .hot_bd .Box1 img{
    display: block;
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 66px;
}
.hot .hot_bd .Box1 p{
    font-weight: 700;
    color: #666666;
    font:12px '微软雅黑';
    margin-left: 29px;
    margin-bottom: 10px;
}
.hot .hot_bd .Box1 span{
    font-weight: 700;
    color: #df3033;
    font:16px '微软雅黑';
    margin-left: 29px;
}
.hot .hot_bd .Box2{
    float: left;
    width: 660px;
    height: 281px;
    overflow: hidden;
}
.hot .hot_bd .Box2 li{ 
    float: left;
    width: 220px;
    height: 141px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 10px;
    padding-top: 22px;
}
.hot .hot_bd .Box2 li:nth-child(n+4){
    border-bottom: none;
}
.hot .hot_bd .Box2 li img{
    float: left;
}
.hot .hot_bd .Box2 li .text{
    float: left;
    width: 93px;
    height: 54px;
    margin-left: 5px;
}
.hot .hot_bd .Box2 li p{
    font-weight: 700;
    color: #666666;
    font:12px '微软雅黑';
}
.hot .hot_bd .Box2 li span{
    font-weight: 700;
    color: #df3033;
    font:16px '微软雅黑';
    margin-top: 10px;
}
.hot .hot_bd .Box3{
    float: left;
    width: 297px;
    height: 281px;
    overflow: hidden;
}
.hot .hot_bd .Box3 li{
    height: 140px;
    overflow: hidden;
}
.hot .hot_bd .Box3 li .img{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}
.hot .hot_bd .Box3 li .box{
    width: 165px;
    height: 86px;
    margin-top: 39px;
    margin-left: 120px;
}
.hot .hot_bd .Box3 li .box p{
    line-height: 27px;
    height: 27px;
    color: #666;
    margin-bottom: 5px;
    
}
.hot .hot_bd .Box3 li .box p img{
    vertical-align: middle;
    margin-right: 8px;
}
.hot .hot_bd .Box3 li .box span{
    position: relative;
    display: block;
    width: 165px;
    height: 54px;
    background: #f8f8f8;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 26px;
    box-sizing: border-box;
}
.hot .hot_bd .Box3 li .box .sanjiao{
    position: absolute;
    top: 16px;
    left: -23px;
    width: 0;
    height: 0;
    border: 12px solid white;
    border-right: 12px solid #f8f8f8;

}